.content-App {
  background: rgba(24, 19, 68, 0.95);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 30px 00px;
  /* border-bottom: 0.5px solid rgb(79, 79, 115); */
}

.content-App a {
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}
