* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  height: 100vh;
  background: #b5b5b5;
  /* background-image: url(https://unsplash.com/photos/oMpAz-DN-9I); */
  font-family: 'Playfair Display', serif;
  color: #282c34;
  font-size: 1.2rem;
}


